<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'core/img/logo.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Buscador</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/styles/style.css' %}" />
    

    <script>
        $(document).ready(function () {

            console.log("La pagina cargó correctamente");

            $("#enviar").click(function () {
                const TABLA = document.getElementById("vehiculos");
                TABLA.innerHTML = `
                
                <thead>
                        <tr>
                            <th scope="col">ID Marca</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">ID Modelo</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    `;

                var Marca = $("#Marca").val();
                //console.log(Marca);          

                console.log("Click en el boton enviar");
                $.get(`https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/${Marca}?format=json`, function (data) {

                    $.each(data.Results, function (i, item) {
                        // console.log(item);
                        $("#vehiculos").append(`<tr><td>${item.Make_ID}</td><td>${item.Make_Name}</td><td>${item.Model_Name}</td><td>${item.Model_ID}</td></tr>`)


                    })
                })

            })



        })
    </script>
</head>
<header>
    <div class="container" id="capa1">
        <header>
            <div role="navigation">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a href="{% url 'index' %}"><img height="50px" src="{% static 'core/img/logo.png' %}" alt="Logo" /> </a>
                        <a class="navbar-brand" href="{% url 'index' %}">Rayo Makween</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        </div>
                    </div>
            </div>
    </div>


</header>

<body>
    <br><br><br>

    <div class="container" id="lnd">
        <div class="row">
            <h1>Datos de vehiculos</h1>
        </div>
        <div class="row">
            <label for="Marca">Ingrese marca de vehiculo</label>
            <input type="text" class="form-control" id="Marca">


            <button class="btn btn-primary" id="enviar">Buscar autos por marca</button>

            <div class="resultado">
                <h6>Resultados</h6>
            
            <div class="row">
                <table class="table" id="vehiculos">
                    <thead>
                        <tr>
                            <th scope="col">ID Marca</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">ID Modelo</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>

</html>